.s1{
	background-color: pink;
	padding: 10px;
	border: 5px solid black;
	margin:20px;
}
.s2{
	background-color: lightgreen;
	padding: 10px;
	border: 5px solid black;
	margin:20px;
}
.s3{
	background-color: lightblue;
	padding: 10px;
	border: 5px solid black;
	margin:20px;
}
.s4{
	background-color: yellow;
	padding: 10px;
	border: 5px solid black;
	margin:20px;
}
h1{
	size: large;
	color: purple;
}
h2{
	color: darkblue;
}
p{
	color: blue;
	font-weight: bold;
}
img{
	border:5px;
	width:70%;
	border-color:green;
	border-style:solid;
}